```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
*.sqlite3
*.sqlite

# Django
*.pot
*.py[co]
*~
.pytest_cache/
htmlcov/
.coverage
*.mo
*.pot
.dbshell
*.swp
local_settings.py
db.sqlite3
```